/* Import Of Fonts*/
@font-face {
    font-family:"OpenSans" "gotham-black";
    src: url("fonts/gotham-black.ttf");
    src: url("fonts/gotham_black.eot");
    src: url("fonts/gotham-black.woff");
    src: url("fonts/OpenSans-Bold.ttf");
    src: url("fonts/OpenSans-Regular.ttf");
}

#section{
    width: 100%;
    clear: right;
    height: 1071px;
    background-color: #faecd8;
}
#independant-box{
    width: 80%;
    top: 140px;
    float: right;
    height: 318px;
    position: relative;
    background-color: #6ac1c1;
    border-top-left-radius: 170px;
    border-bottom-left-radius: 170px;
}
#gun-mami{
    float: left;
    margin-top: 30px;
    margin-left: 30px;
}
#gun-mami:hover{
    border: 3px solid orange;
    border-radius: 100%;
}
#commentary{
    color: #fff;
    font-size: 26px;
    padding-top: 10%;
    padding-left: 35%;
    font-weight: bold;
    white-space: pre-wrap;
    font-family: 'Open sans', sans-serif;
}
#mami-age{
    font-size: 20px;
    font-weight: 200;
    text-align: right;
    padding-left: 60%;
}
.apostrophe{
    font-size: 72px;
    font-family: 'gotham-black', sans-serif;
}
#first-part{
    width: 64%;
    height: 796px;
    margin-left: 7%;
    padding-top: 130px;
    border: 1px solid red;
}
.laugth,
.laugth1{
    width: 398px;
    height: 398px;
    float: left;
    padding-left: 10px;
}
.laugth1{
    margin-top: -20px;
}

#alone{
    width: 21%;
    float: right;
    height: 735px;
    margin-top: 171px;
    margin-right: 87px;
    border: 1px solid red;
}