.wrap {
    margin: 0 auto;
    width: 80%;
    height: 100%;
}

/**Font**/

.nav-f {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight:600;
}

.window-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight:700;
    color:white;
}

.window-f {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight:600;
    color:white;
    white-space: pre-line;
    text-align: center;
}

.bloc-title {
    font-family: 'Open Sans', sans-serif;
    font-size:30px;
    font-weight: 700;
    color:#2e2f2f;
    text-align: center;
}

.hover-f {
    font-family: 'Open Sans', sans-serif;
    font-size:26px;
    font-weight: 100;
    color:white;
    text-align: center;
}

.hover-title {
    font-family: 'Open Sans', sans-serif;
    font-size:30px;
    font-weight: 400;
    color:white;
    text-align: center;
}

.bloc3-p {
    font-family: 'Open Sans', sans-serif;
    font-size:18px;
    font-weight: 100;
    color:#2e2f2f;
    text-align: center;
}

.bloc4-t {
    font-family: 'Open Sans', sans-serif;
    font-size:24px;
    font-weight: 600;
    color:white;
    text-align: center;
}

.bloc4-p {
    font-family: 'Open Sans', sans-serif;
    font-size:16px;
    color:white;
    text-align: center;
    white-space: pre-line;
}

.footer-t {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    color: black;
    text-align: center;
    text-transform: uppercase;
    padding-left: 30px;
}

.footer-p {
    font-family: 'Open Sans', sans-serif;
    font-size:16px;
    color:black;
    text-align: left;
    white-space: pre-line;
}

/**Nav**/



nav {
    width: 100%;
    height: 95px;
    background-color: white;
}

nav ul {
    padding-top: 14px;
}

nav ul li {
    display:inline;
    list-style: none;
    margin-top:20px;
}

.pad-logo {
    padding-left: 112px;
    padding-right: 40px;
}

.pad {
    margin-left: 41px;
}

.logo {
    width: 170px;
    height: 80px;

}


.wrap-l {
    margin: 0 auto;
    height: 26%;
    /* width: 15%; */
    margin-top: -25px;
    text-align: center;
}

.nav-1{
    position: relative;
    top: 23px;
    left: 56px;
}


.nav-2{
     position: absolute;
    top: 22px;
    left: 745px;
    padding-left: 70px;

}




/**Footer**/

footer {
    position: relative;
    height: 350px;
    width: 100%;
    background-color: white;
    float: left;
}


.wrap_footer {
    height:100%;
    width: 33%;
    position: relative;
    float:left;
}

.foot-1 {
    height: 60%;
    top: 25px;
    right: 141px;
}

.t-pos {
    padding-top:55px;
    padding-left: 22px;
}

.ment-pos {
    position: relative;
    top: -19px;
    left: 52px;
}

.third-t {
    position: relative;
    left: 75px;
}

.p-1 {
    top: 125px;
    position: absolute;
}

.logo-foot-pos {
    top: 79px;
}

#logo-f{
    position: absolute;
    left: 63Px;
}

.p-2 {
    position: relative;
    top: 17px;
    left: 144Px;
    padding-bottom: 20px;
}

.p-3 {
    position: relative;
    top: 36px;
    left: 166Px;
    padding-bottom: 30px;
}

.wrap_foot_3 {
    margin-left: -45px;
    top: 28px;
}

.social {
    display: inline;
    height: 40%;
    width: 60%;
    position: relative;
    top: 15px;
    left: 133px;
    margin-left: 10px;
}

.soc {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 7px;
    background-color: #4099ff;

}

.fb {
    background-color: #3b5998;
    margin-right: 10px;
}

.twi {
    background-color: #4099ff;
}


.google{
    background-color: #d62d20;
    margin-left: 10px;
}

        /**Form Footer**/
.contact_footer {
    display: block;
    margin-left: 167px;
    margin-top: 40px;
}

.mail {
    border:4px solid black;
    width: 181px;
    height:40px;
    margin-bottom: 15px;
}

.sendmail {
    border:1px solid #ec7e34;
    background-color: #ec7e34;
    color:white;
    width: 190px;
    height:40px;
    font-size:18px;
    text-align: center;
    font-family: 'Open sans',sans-serif;
    text-transform: uppercase;

}

/**Style Nav**/

nav li:hover {
    color:#f17f32;    
}

/**Responsive**/

.nav_resp {
    display: none;
    border: 1px solid;
    width: 40%;
    height: 100%;
}

.nav-r {
    display: none;
}

/* Icon 1 */

#nav-icon1 {
    width: 40px;
    height: 45px;
    position: relative;
    /* margin: 50px auto; */
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    margin-left: -6%;
    margin-top: 4%;
    display:none;
}

#nav-icon1 span {
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background: #d3531a;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
  top: 0px;
}

#nav-icon1 span:nth-child(2) {
  top: 14px;
}

#nav-icon1 span:nth-child(3) {
  top: 28px;
}

#nav-icon1.open span:nth-child(1) {
  top: 18px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#nav-icon1.open span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}


@media screen and (max-width: 768px) {
    
    /**Header**/
      #nav-icon1 {
        display:inline-block;
        margin-top: 9%;
    
    }
    
    nav {
    height: 100px;
    }
    
    .nav-1 {
    position: relative;
    top: 23px;
    left: 56px;
    display: none;
    }
    
       
    .logo {
        width: 135px;
        height: 58px;
        margin-left: -2%;
        margin-top: 10%;
        /* text-align: center; */
    }
    
       
    nav ul li {
        display: none;    
    }
    
    .nav-r{
        width: 60%;
        height: 100%;
        display: inline-block;
    }
    
    .nav_resp {
    display: inline-block;
    border: none;
    border: 1px solid;
    width: 50%;
    height: 31%;
    position: absolute;
    z-index: 120;
    margin-left: -17%;
    margin-top: 21%;
    background: rgba(192,192,192,0.1);
    box-shadow: 8px 8px 20px 0 rgba(0, 0, 0, 0.2);
    left: -40%;
    -webkit-transition:0.9s left ease-in-out;
    background-color: white;
    }
    
    .li_con {
        border: none;
    }
    
    .toggle {
        left:15%;
        -webkit-transition:0.9s left ease-in-out;

    }
    
    .nav_resp li {
    display: block;
    margin-top: 0%;
    padding: 5%;
    border-bottom: 1px solid;
    position: relative;
    top: -4%;
    margin: 0 auto;
    margin-left: 12%;
    margin-right: 12%;
    text-align: center;
    font-family: 'Open sans',sans-serif;
    font-size: 88%;
    font-weight: bold;
    }
    
    /**Bloc 3**/
    .email-adress{
    margin-left: -30%;
    margin-top: -7%;
    width: 70%;
    height: 45px;
    }
    
    .submit {
    width: 90%;
    margin-top: 6%;
    height: 53px;
    margin-left: -30%;
    }
    
    
    /**Footer**/
    .p-1 {
        display: none;
    }  
    
    .p-2{
    left: 0%;
    top: 197%;
}
    
    
    .p-3 {
        display: none;
    }
    
    .footer-p {
        text-align: center;
    }
    
    .mail {
      display: none;  
    }

    .sendmail {
    display: none;
    }
    
    .footer-t {
        display: none;
    }
    
    .foot-1 {
    height: 70%;   
    }
    
    .social {
    position: absolute;
    padding-top: 25%;
    left: 12%;
    height: 100%;
    width: 96%;    }

    .wrap_foot_3 {
     display: none;
    }

    footer{
    height:125px; 
    }
    
    .fb {
        margin-right: 7%;
    }
    
    .google {
        margin-left: 7%;
    }
    
    #logo-f {
    position: absolute;
    margin-top: -23%;
    margin-left: 0%;
    }
    
    .wrap_footer {
        width: 100%;
        left: 0%
    }
    
    .logo-foot-pos {
        top:5%;
    }
    
    body {
    overflow-x:hidden;
    }
}
