/* Import Of Fonts*/
@font-face {
  font-family:"OpenSans";
  src: url("fonts/OpenSans-Bold.ttf");
  src: url("fonts/OpenSans-Regular.ttf");
}

        /* Bloc2 */
#bloc2 {
    width: 100%;
    height: 678px;
    text-align: center;
    background-color: aquamarine;
    font-family: "OpenSans", sans-serif;
}
#video{
    width: 100%;
    height: 100%;
}


        /* Bloc3 */
#bloc3 {
    width: 100%;
    height: 615px;
    background-color: white;
    font-family: "OpenSans", sans-serif;
}
#lady1{
    float: left;
    margin-top: 60px;
    margin-left: 60px;
    margin-right: 50px;
    border-radius: 100%;
    border: 3px solid blue;
}
#lady1:hover{
    border-radius: 100%;
    border: 5px solid red;
}
#prename{
    font-size: 30px;    
    padding-top: 97px;
    font-weight: bold;
}
#paragraph{
    font-size: 16px;
    padding-top: 46px;
}

#lady2{
    float: right;
    margin-top: 60px;
    margin-left: 50px;
    margin-right: 60px;
}
#prename2{
    font-size: 30px;
    font-weight: bold;
    text-align: right;
    padding-top: 110px;
}
#paragraph2{
    font-size: 16px;
    padding-top: 46px;
    text-align: right;
}
#bloc4 {
    width: 100%;
    height: 267px;
    background-color: #faecd8;
    font-family: "OpenSans", sans-serif;
}
#title{
    font-size: 30px;
    padding-top: 50px;
    font-weight: bold;
    text-align: center;
}
#paragraph3{
    font-size: 18px;
    margin-top: 52px;
    text-align: center;
}