/* Import Of Fonts*/
@font-face {
  font-family:"OpenSans";
  src: url("fonts/OpenSans-Bold.ttf");
  src: url("fonts/OpenSans-Regular.ttf");
}

        /* Bloc2 */
#bloc2 {
    width: 100%;
    height: 678px;
    background-color: aquamarine;
    font-family: "OpenSans", sans-serif;
}
#video{
    width: 100%;
    height: 100%;
}

        /* Bloc3 */
#bloc3 {
    width: 100%;
    height: 615px;
    background-color: white;
    font-family: "OpenSans", sans-serif;
}
#first-lady{
    position: relative;
}
#lady1{
    float: left;
    margin-top: 60px;
    margin-left: 60px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: filter .8s ease;
    -webkit-transition:-webkit-filter .8s ease;
    transition:-webkit-filter .8s ease;
    transition:filter .8s ease;
    transition: filter .8s ease, -webkit-filter .8s ease;
}
#lady1:hover{
    -webkit-filter: grayscale(1%);
    filter: grayscale(1%);
}
#prename{
    font-size: 30px; 
    margin-left: 24%;   
    padding-top: 97px;
    font-weight: bold;
}
#paragraph{
    font-size: 16px;
    margin-left: 24%;
    padding-top: 20px;
}

#lady2{
    float: right;
    margin-top: 60px;
    margin-left: 50px;
    margin-right: 60px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: filter .8s ease;
    -webkit-transition:-webkit-filter .8s ease;
    transition:-webkit-filter .8s ease;
    transition:filter .8s ease;
    transition:filter .8s ease, -webkit-filter .8s ease;
    transition: filter .8s ease, -webkit-filter .8s
}
#lady2:hover{
    -webkit-filter: grayscale(1%);
    filter: grayscale(1%);
}
#prename2{
    font-size: 30px;
    font-weight: bold;
    text-align: right;
    padding-top: 110px;
}
#paragraph2{
    font-size: 16px;
    padding-top: 20px;
    text-align: right;
}
#bloc4 {
    width: 100%;
    height: 267px;
    background-color: #faecd8;
    font-family: "OpenSans", sans-serif;
}
#title{
    font-size: 30px;
    padding-top: 50px;
    font-weight: bold;
    text-align: center;
}
#paragraph3{
    font-size: 18px;
    margin-top: 52px;
    text-align: center;
}






#phone-contact{
    top: 70%;
    z-index: 3;
    right: -22%;
    bottom: 30%;
    width: 382px;
    height: 80px;
    position: fixed;
    border: 1px solid #f17f32;
    background-color: #f17f32;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    border-bottom: 3px solid #c26628;
    -webkit-transition:.8s ease-in;
    transition: .8s ease-in;
}

#phone-contact:hover{
    right: 0;
    -webkit-transition:.e8s ease-in;
    -webkit-transition:.8s ease-in;
    transition: .8s ease-in;
}

img[src="../img/call.png"]{
    width: 15%;
    padding-top: 12px;
    padding-left: 12px;
}
#number{
    color: #fff;
    left: 100px;
    bottom: 25px;
    font-size: 30px;
    position: absolute;
    font-family: 'Open sans', sans-serif;
}